.italic {
	font-style: italic;
}

.dashboard i {
	color: #646669;
}

.count-title {
	background: #FFF;
	border: 1px solid #ddd;
	box-shadow: 0 10px 15px rgba(0,0,0,0.02);
	padding: 15px;
}

.count-title .icon {
    border: 1px solid #7c5cc4;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 60px;
    margin-right: 25px;
}

.colored-box {
	margin-bottom: 25px;
	padding: 30px 15px;
	color: #f9fcfc;
}

.colored-box i {
	color: #d6d2cf;
	font-size: 60px;
	opacity: 0.5;
	position: absolute;
	right: 15px;
	top: 10px;
}

.green-bg {
	background-color: #289920;
}

.purple-bg {
	background-color: #8e44ad;
}

.orange-bg {
	background-color: #fa603d;
}

.red-bg {
	background-color: #ff3030;
}

.blue-bg {
	background-color: #014463;
}

.yellow-bg {
	background-color: #f78b38;
}

.light-blue-bg {
	background-color: #138496;
}

a:focus,button:focus,.btn:focus {
	outline: none;
	box-shadow: none;
}

.btn-default.btn-primary:hover {
	color: #FFF;
}

.btn-info:focus,.btn-primary:focus {
	color: #FFF;
}

.btn.btn-default,
.btn.btn-default:focus {
	background-color: #FFF;
	border: 1px solid #7c5cc4;
	color: #7c5cc4;
}

.btn.btn-default:focus {
	background-color: #FFF;
	border: 1px solid #ddd;
	color: #666;
	box-shadow: none;
}

.table tr td {
	vertical-align: middle;
}

.product-link, .product-img, .sale-link, .return-link, .purchase-link, .transfer-link, .quotation-link{
	cursor: pointer;
}

.bootstrap-select .btn-link {
	color: #7c5cc4;
}

.daterangepicker .custom-range-buttons button.apply-btn,
.daterangepicker .custom-range-buttons button.apply-btn:hover {
    background: #7c5cc4;
}

div.ui-keyboard {
  z-index: 2000;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
	background: #7c5cc4;
	width: 300px;
	padding: 15px;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li.ui-menu-item {
	color: #FFF;
	cursor: pointer;
	font-size: 14px;
	list-style: none;
	padding: 5px 10px;
	padding-left: 0;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li.ui-menu-item:hover {
	opacity: 0.7;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

p.top-border {
	border-top: 1px solid #000;
	width: 50%
}

th span.number-in-words{
	text-transform: uppercase;
}

@media print {
    .hide-element {
        display:none
    }
}

/*--------Written by Tarik -----------*/

.btn-primary {
    background-color: #7c5cc4;
    border-color: #7c5cc4;
}

.btn-primary:hover {
    background-color: #6244a6;
    border-color: #6244a6;
}

a:hover {
	text-decoration: none;
}

.form-control:focus {
	border: 1px solid #7c5cc4;
	box-shadow: none;
}

.btn-group.bootstrap-select {
	border: 1px solid #ced4da;
	border-radius: 0;
}

.table th {
    border-top: 1px solid #7c5cc4;
}

.table thead th {
    border-bottom: 1px solid #7c5cc4;
}

table.dataTable {
    border-collapse: collapse !important;
}

section {
	padding: 30px 0;
}

.side-navbar .sidenav-header {
    background: #7c5cc4;
    margin-bottom: 0;
    padding: 0;
}

.side-navbar .brand-big {
    line-height: 60px;
}

.side-navbar .brand-big i {
    font-size: 26px;
    vertical-align: middle;
}

.side-navbar li a {
    padding: 5px 10px;
}

.side-navbar li a i {
    vertical-align: middle;
}

.side-navbar li a:hover {
    background: rgba(255,255,255,0.2);
}

.side-navbar li ul li a:hover {
    background: #7c5cc4;
}

.side-navbar li ul li a:hover, .side-navbar li ul li.active a{
    background: #7c5cc4 !important;
}

.side-navbar li ul.collapse a:hover {
    padding-left: 15px;
}

nav.navbar a.menu-btn {
    background: transparent;
    border: 1px solid #7c5cc4;
    color: #7c5cc4;
}

nav.navbar .badge {
    position: absolute;
    top: 14px;
    right: 7px;
}

nav.navbar a.menu-btn:hover {
    background: #7c5cc4;
    border: 1px solid #7c5cc4;
    color: #FFF;
}

.navbar-brand {
	padding: 0;
}

.brand-text h3 {
	color: #7c5cc4;
	font-weight: 300;
}

.brand-text h3 span {
	font-weight: 500;
}

nav.navbar {
    background: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 65px;
    padding: 0;
}

nav.navbar a {
    color: #7c5cc4;
}

nav.navbar .dropdown-menu {
    width: 180px;
    right: auto;
    margin-top: 1px;
    padding: 12px;
    font-size: 1em;
}

nav.navbar .notifications {
    width: 270px;
}

nav.navbar .nav-item li.notifications a i{
	color: #fff;
}

nav.navbar .nav-item a i {
    color: #7c5cc4;
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.dropdown-item {
    padding: 0 0.5rem;
    color: #212529;
}

.dropdown-item.selected{
	background-color: #7c5cc4;
	color: #fff;
}

.dataTables_wrapper {
	margin-top: 30px;
}

.dataTables_filter,
.dataTables_length,
.dt-buttons {
	float: left;
	vertical-align: middle;
	width: 30%;
} 

.dt-buttons {
	float: right;
}

.dt-buttons button {
	padding: 0.25rem 0.75rem;
}

.dt-buttons button span {
	color: #FFF;
}

.dt-button-collection.dropdown-menu {
	background: #7c5cc4;
	padding: 10px 15px;
}

.dt-button-collection.dropdown-menu a {
	background: transparent;
	font-size: 14px;
	line-height: 30px;
}

.buttons-pdf {
	background: #d8121f;
	border: none;
}

.buttons-csv {
	background: #f9d95e;
	border: none;
}

.buttons-print {
	background: #007fff;
	border: none;
}

.buttons-collection {
	background: #7c5cc4;
	border: none;
}

.dataTables_info,
.dataTables_paginate {
	display: table-cell;
	width: 50%;
}

.dataTables_paginate {
	text-align: right;
}

.dropdown-menu.edit-options {
	background: #7c5cc4;
	border: none;
}

.dropdown-menu.edit-options li a,
.dropdown-menu.edit-options li .btn-link {
	color: #FFF;
	display: block;
	text-align: left;
	text-decoration: none;
	width: 100%;
}

.dropdown-menu.edit-options li a:hover,
.dropdown-menu.edit-options li .btn-link:hover {
	opacity: 0.7
}

.table.totals tr td {
	vertical-align: middle;
}

.table.order-list tr td .btn-link,
.table.totals tr td .btn-link {
	color: #7c5cc4;
}

.form-group.product-img {
	border: 1px solid #eee;
	float: left;
	margin-bottom: 0;
	padding-top: 15px;
	text-align: center;
	text-transform: capitalize;
	width: 33.33%;
}

.form-group.product-img:hover {
	border: 1px solid #7c5cc4;
}

.form-group.product-img p {
	margin: 15px 0;
}

.form-group.product-img:hover p {
	color: #7c5cc4;
}

.dataTables_info,
.dataTables_paginate {
    display: table-cell;
    width: 50%;
    float: left;
}

@media all and (min-width:576px){
	.modal-dialog {
		max-width: 800px;
	}
}

